NODE_ENV=development
NUXT_PUBLIC_FRONTEND_PORT=3000
NUXT_PUBLIC_BACKEND_PORT=8000
NUXT_PUBLIC_FRONTEND_DOMAIN=localhost:3000
NUXT_PUBLIC_BACKEND_DOMAIN=localhost:8000
NUXT_PUBLIC_API_BASE_URL=http://localhost:8000